body{
  	background-image: url("../img/bgch.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 2;
}

.login-block{
	background-color: white;
	margin-top: 20px;
	height: 300px;
	margin-top: 250px;
	padding: 4% 5%;
	-webkit-box-shadow: 11px 5px 21px 1px rgba(0,0,0,0.53);
	-moz-box-shadow: 11px 5px 21px 1px rgba(0,0,0,0.53);
	box-shadow: 11px 5px 21px 1px rgba(0,0,0,0.53);
}

.filter-block{
	height: 300px;
	margin-top: 250px;
	background-image:url("../img/bg.jpg");
	background-position: center center;
  	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    z-index: 1;
	-webkit-box-shadow: -8px 1px 21px 1px rgba(0,0,0,0.53);
	-moz-box-shadow: -8px 1px 21px 1px rgba(0,0,0,0.53);
	box-shadow: -8px 1px 21px 1px rgba(0,0,0,0.53);
	


}

.username{
	color: black;
	font-weight: 400;
	font-size: 1.275em;
}

.password{
	color: black;
	font-weight: 400;
	font-size: 1.275em;
}

.form-group {
    line-height: 0;
}
.checkbox{
	color: black;
	font-weight: 600!important;

}

.knopki a{
	color: white;
	font-weight: 600!important;
	border-radius: 0;
	margin: 5px;
	width: 75px;
}

.TAC{
	text-align: center;
}


@media (min-width: 315px) and (max-width: 556px) {
	
	
	.login-block{
		padding: 11% 5%;
	}
	.knopki a{
		font-size: 0.8em!important;
	}
	.username{
		color: black;
		font-weight: 400;
		font-size: 0.8em;
	}

}

