@font-face {
  font-family: 'Lato-Hairline';
  src: url('../fonts/Lato-Hairline.ttf') format('truetype');
}
@font-face {
  font-family: 'Font-Awesome';
  src: url('fonts/fontawesome-webfont.ttf') format('truetype'),
  src: url('fonts/fontawesome-webfont.woff') format('woff'),
  src: url('fonts/fontawesome-webfont.woff2') format('woff2'),
  src: url('fonts/fontawesome-webfont.svg') format('svg'),
  src: url('fonts/fontawesome-webfont.eot') format('eot');
}

body {
  font-family: 'Lato-Hairline';
  font-weight: 600;
  background: whitesmoke;
  }

input.form-control.my_search {
      width: 50vw;
}
button.search {
  width: 50px;
  height: 50px;
  color: #2196f3;
  font-size: 1.8em;
  background: #fff;
  box-shadow: none;
  border: none;
}

button.search:hover {
  color: #2196f3;
  font-size: 2.2em;
  transition: all 0.2s;
}
button.search:focus {
  border: none;
  color: #2196f3;
  font-size: 2.2em;
  transition: all 0.2s;
}
button.search:active {
  border: none;
  box-shadow: none;
  color: #2196f3;
  font-size: 2.2em;
  transition: all 0.2s;
}

form.search-area {
  margin: 0;
}
.categoryImg {
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 50px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #000; 
}
.categoryImg.first {
  background: url(../img/computer-modal.jpg);
      background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.categoryImg.second {
  background: url(../img/coock.jpg);
      background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.categoryImg.third {
    background: url(../img/cozyHouus.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.categoryImg:hover {
 box-shadow: 2px 2px 1px #2196f3;
}

.categoryImg h1 {
  color: white;
  background: #000;
  opacity: 0.5;
  font-size: 3.8em;
  padding-bottom: 5px;
}

.desk a:hover {
  text-decoration: none;
}

 .headSerch{
              width: 350px;
            }

.footer {
  text-align: center;
  height: 100px;
}

.footer hr {
  border-top: 1px solid  #bbbbbb;
}
