

    <div class="contant"> 

      <div class="col-md-3 col-lg-3 col-sm-4 col-xs-4">
        <div class="profile-nav left">
        <div class="clearfix"></div>
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">My Score</a></li>
            <li><a href="#">My Folders</a></li>
            <li><a href="#">My Favorite</a></li>
            <hr>
            <h4>Last Watch:</h4>
            <ul class="last_watch">
              <li><a href="#">Some Awesome Wideo</a></li>
              <li><a href="#">Some Awesome Wideo</a></li>
              <li><a href="#">Some Awesome Wideo</a></li>
              <li><a href="#">Some Awesome Wideo</a></li>
              <li><a href="#">Some Awesome Wideo</a></li>
              <li><a href="#">Some Awesome Wideo</a></li>
              <li><a href="#">Some Awesome Wideo</a></li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="col-md-9 col-lg-9 col-sm-8 col-xs-8">
        <div class="profile-nav">
          <div class="cover-img">
            <div class="profile-inf">
              <div class="profile-img"></div>
              <p>Varvara Terkina</p>
            </div>
            <div class="visitors"><i class="fa fa-eye" aria-hidden="true"></i>124</div>
          </div>

          <div class="profile-contant">

            <div class="container-fluid">

              <div id="accordion" role="tablist" aria-multiselectable="true">

                <div class="profile-card">
                  <div class="profile-card-header first" role="tab" id="headingOne">
                    <div class="collapsed profile-category-link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOneo">
                        Programming
                      </div>
                  </div>

                  <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-block">
                      <table class="table table-striped table-hover ">
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>Java</td>
                            <td >Watched Classes: 9</td>
                            <td class="test"><a href="#">Test</a></td>
                          </tr>
                          

                          <tr>
                            <td>2</td>
                            <td>C++</td>
                            <td >Watched Classes: 9</td>
                            <td class="test"><a href="#">Test</a></td>
                          </tr>
                          

                          <tr>
                            <td>3</td>
                            <td>PHP</td>
                            <td >Watched Classes: 9</td>
                            <td class="test"><a href="#">Test</a></td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="profile-card">
                  <div class="profile-card-header second" role="tab" id="headingTwo">
                      <div class="collapsed profile-category-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Art
                      </div>
                  </div>
                  <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-block">
                      <table class="table table-striped table-hover ">
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>Java</td>
                            <td >Watched Classes: 9</td>
                            <td class="test"><a href="#">Test</a></td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>C++</td>
                            <td >Watched Classes: 9</td>
                            <td class="test"><a href="#">Test</a></td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>PHP</td>
                            <td >Watched Classes: 9</td>
                            <td class="test"><a href="#">Test</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                  <div class="profile-card">
                  <div class="profile-card-header third" role="tab" id="headingThree">
                    <div class="collapsed profile-category-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Phisics
                      </div>
                  </div>

                  <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="card-block">
                      <table class="table table-striped table-hover ">
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>Java</td>
                            <td >Watched Classes: 9</td>
                            <td class="test"><a href="#">Test</a></td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>C++</td>
                            <td >Watched Classes: 9</td>
                            <td class="test"><a href="#">Test</a></td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>PHP</td>
                            <td >Watched Classes: 9</td>
                            <td class="test"><a href="#">Test</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                 <div class="profile-card">
                  <div class="profile-card-header fourth" role="tab" id="headingFour">
                    <div class="collapsed profile-category-link" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Medicine
                      </div>
                  </div>

                  <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="card-block">
                      <table class="table table-striped table-hover ">
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>Java</td>
                            <td >Watched Classes: 9</td>
                            <td class="test"><a href="#">Test</a></td>
                          </tr>

                          <tr>
                            <td>2</td>
                            <td>C++</td>
                            <td >Watched Classes: 9</td>
                            <td class="test"><a href="#">Test</a></td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>PHP</td>
                            <td >Watched Classes: 9</td>
                            <td class="test"><a href="#">Test</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </div>

            </div> 
          </div>
        </div>
      </div>

    <div class="clearfix"></div> 
  
    

