



    <div class="contant">
      <div class="row">
        <div class="col-md-6 desk"><a href="">
          <div class="row">
            <ul class="grid cs-style-4">
              <li>
                <figure>
                  <div><img src="img/6.png" alt="img05"></div>
                  <figcaption>
                     <a href="http://dribbble.com/shots/1116775-Safari">
                      Bootstrap
                      View Tutorial
                    </a>
                  </figcaption>
                </figure>
              </li>
            </ul>
          </div>
        </div>
      </div>
       
    </div> 



